window {
  margin: 0px;
  border: 1px solid #dfbf8e;
  background-color: #282828;
  font-family: "Fira Sans Book";
  font-size: 16.5px;
}

#input {
  margin: 5px;
  border: none;
  color: #dfbf8e;
  background-color: #32302f;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282828;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #dfbf8e;
} 

#entry:selected {
  background-color: #32302f;
}
